@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@font-face {
  font-family: RoxboroughCF;
  src: url(/fonts/RoxboroughCF.ttf);
}
@font-face {
  font-family: Lora;
  src: url(/fonts/Lora.ttf)
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

/*
General Formatting
*/

h1 {
  font-family: RoxboroughCF;
  white-space: nowrap;
}

h2 {
  font-family: RoxboroughCF;
  white-space: nowrap;
}
h3 {
  font-family: RoxboroughCF;
  white-space: nowrap;
}
h4 {
  font-family: Lora;
  white-space: nowrap;
}
h5 {
  font-family: Lora;
  white-space: nowrap;
}

h6 {
  font-family: Lora;
  white-space: nowrap;
}

p {
  font-family: Lora;
  white-space: nowrap;
}

button {
  font-family: Lora;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px auto;
  cursor: pointer;
}

