@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
    font-family: Lora;
    src: url(/fonts/Lora.ttf)
  }

  * {
    box-sizing: border-box;
  }

.performance-section {
    contain: strict;
    position:absolute;
    top: 50%;
    height: 50%;
    width: 100%;
    background-color: black;
    justify-content: center;
}

.section-title {
    display: flex;
    position: absolute;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
    justify-content: center;
}

.slider {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    border: 10px solid;
}

.slider div {
    display: flex;
    flex-direction: row;
}

.slick-slide div {
    margin: auto;
    padding: 0px;
    max-width: 350px;
}

.slide{
    display: flex;
    height: 500px;
    transform: scale(0.2);
    transition: transform 300ms;
    opacity: 0.5;
}

.slide div{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  
.activeSlide{
    display: flex;
    align-items: center;
    transform: scale(1.0);
    opacity: 1;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    box-shadow: inset 0px 0px 10px 30px black;
    background-color: rgb(43, 42, 42);
}

.card div {
    display: flex;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 275px;
    font-family: Lora;
}

.content.dates {
    color:white;
    font-size: 15px;
    position: absolute;
    top: 50px;

}
.content.title {
    color: wheat;
    font-style: italic;
    font-size: 25px;
    position: absolute;
    top: 100px;

}

.content.subtitle {
    color: wheat;
    font-style: italic;
    font-size: 15px;
    position: absolute;
    top: 140px;
}

.content.summary {
    color: whitesmoke;
    font-size: 15px;
    position: absolute;
    top: 190px;
}

.content.button {
    color: whitesmoke;
    background-color: rgb(161, 116, 32);
    font-size: 17 px;
    position: absolute;
    top: 380px;
    width: 100px;
}

.arrow {
    display: flex;
    border: 1px none;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    z-index: 10;
    height: 100px;
    width: 30px;
    opacity: .1;
    align-items: center;
    justify-content: center;
}

.arrow.next {
    position: absolute;
    right: 25%;
}

.arrow.prev {
    position: absolute;
    left: 25%;
}
